/*! topbar.css */

/**
 * Topbar styles.
 */

.topbar {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  background-color: #5BC0DE;
  border-bottom: 1px solid #46B8DA;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition:-webkit-transform 0.25s linear;
  -moz-transition:-moz-transform 0.25s linear;
  -o-transition:-o-transform 0.25s linear;
  transition:transform 0.25s linear;
/*  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;*/
}

.topbar.active {
  -webkit-transform: translate3d(0,129px,0)
  -moz-transform: translate3d(0,129px,0)
  -o-transform: translate3d(0,129px,0)
  transform: translate3d(0,129px,0)
}

/**
 * Close (x) button.
 */

/*.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
*/

button.close {
  padding: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: .2;
  filter: alpha(opacity=20);
}